* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 100%;
  height: 100vh;
  background-color: pink;
  /* background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8)),
    url("./images/pexels-joshua-135018.jpg") center no-repeat; */
  background-size: cover;
}
.banner {
  width: 750px;
  height: 400px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  position: absolute;
  display: none;
}
.banner-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.banner h1 {
  margin-top: 30px;
  font-weight: 300;
  text-transform: uppercase;
  font-family: sans-serif;
  padding: 15px;
  margin-bottom: 80px;
  color: white;
  border-bottom: 2px solid white;

  border-top: 2px solid white;
}
.arrow i {
  font-size: 50px;
  margin-bottom: 60px;
  color: white;
  animation: moveUpDown 2s infinite;
}

@keyframes moveUpDown {
  0% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(50px);
  }
}
.banner button {
  width: 200px;
  padding: 15px;
  border: none;
  outline: none;
  border-radius: 20px;
  border: 1.5px solid tomato;
  background: transparent;
  color: white;
  font-weight: 400;
  cursor: pointer;
  letter-spacing: 1px;
  font-size: 20px;
}
.banner button:hover {
  transform: translateY(-3px);
}
.banner button:active {
  transform: translateY(0);
  border: 1.5px solid white;
}
/* Form  */

.form-container {
  width: 800px;
  height: 600px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.4);
}

.form-input-container {
  width: 50%;
  background-color: #232328;
  height: 100%;
  box-sizing: border-box;
  padding: 120px 50px;
}

form input {
  width: 300px;
  font-family: "oswald", sans-serif;
  letter-spacing: 1px;
  color: orange;
  font-size: 10px;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid white;
  margin-bottom: 50px;
  outline: none;
  padding: 10px 0;
  transition: border-bottom-color 8s;
}
form input:focus {
  border-bottom-color: #cc683c;
}

form p {
  color: white;
  font-family: "oswald", sans-serif;
  letter-spacing: 1px;
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 8px;
}
form label {
  color: white;
  font-family: "oswald", sans-serif;
  letter-spacing: 1px;
  font-size: 18px;
  font-weight: 300;
  padding: 0;
  margin: 0;
}
.input-group input[type="checkbox"] {
  appearance: none;
  width: 30px;
  height: 15px;
  background-color: #eee;
  border-radius: 30px;
  margin: 0 8px;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.4);
}
.input-group input[type="checkbox"]{
    content: '';
    width: 17px;
    height: 17px;
    background-color: #aaa;
    position: absolute;
    border-radius: 50%;
    top: -1px;
    left: -4px;
}
form button {
  display: block;
  margin-top: 80px;
}
